<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- ///////////////////////////////////////////////////////////////////////////////
    Configuração da localização da base de dados que será chamada no model VetsDB.cs identificado por "DefaultConnection"
    Neste caso será o SQL sevrer que correrá na máquina
    * Data Source=(LocalDB)\MSSQLLocalDB; -> identificação da versão do SQL server, neste caso SQL server 2016
    * AttachDbFilename=|DataDirectory|\database.mdf; -> a base de dados será guardada na pasta dedicada a guardar dados sigiliosos (App_Data)
          ao qual do lado do cliente não é possível aceder __________________________  -->
  <connectionStrings>
    <add name="Models" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CQPROJ;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Models" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=CQPROJ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>